.login-title {
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../Shop/images/bg.jpeg');
    height: 1084px;
}

.formStyle {
    width: 500px;
    height: 300px;
    border: 10px outset darksalmon;
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text{
    font-size: larger;
    font-family: cursive;
}

.form-input{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 8px;
    align-items: center;
}

.form-input input {
    margin-bottom: 20px;
    width: 280px;
}

.buttonPath {
    margin-top: 30px;
}

.buttonEnter{
    margin-right: 25px;
}

button:hover{
    background: bisque;
}

