.registration_title{
    margin:0;
    padding:0;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Shop/images/bg.jpeg");
    height: 1084px;
}

.formReg{
    width: 350px;
    height: 500px;
    background-color: beige;
    text-align: center;
    border: 10px outset darksalmon;
    padding-top: 10px;
}

.formReg h2{
    margin-bottom: 20px;
}

.formReg input{
    margin-bottom: 20px;
    font-family: cursive;
}

.formReg button[type = 'submit'] {
    margin-top: 64px;
}

.errorMessage {
    font-size: 12px;
    color: darkred;
    margin-top: -20px;
    margin-bottom: 2px;
}



