.bg {
    background-image: url("images/bg1.jpeg");
    background-size: contain;
}

.title {
    font-family: "Arial Black", serif;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 25px;
}

.image {
    height: 300px;
    width: 250px;
}

.description {
    white-space: pre-line;
    margin: 0 0 25px 25px;
}

.quantityGoods {
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.incrDecrButton {
    height: 30px;
    width: 30px;
}

.price {
    margin: 25px 0 0 25px;
}

.currency {
    margin: 0 0 25px 25px;
}

.totalList {
     width: 224px;
     height: 84px;
     color: darkred;
     font-weight: bolder;
    font-family: "Arial Black", serif;
     margin-left: 25px;
     margin-top: 102px;
 }

.basketEmpty {
    background-image: url("images/bg1.jpeg");
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}