.gameList {
    margin: 0;
    padding: 0;
    background-image: url("../Shop/images/bg1.jpeg");
    height: 1084px;
}

.title {
    font-family: "Arial Black", serif;
    font-size: 25px;
    padding-top: 20px;
    padding-left: 25px;
}

.image {
    height: 300px;
    width: 250px;
    margin: 25px 0 25px 25px;
}

.fullDescription {
    text-align: justify;
    margin: 0 25px 25px;
    text-indent: 1.5em;
}

.description {
    white-space: pre-line;
    margin: 0 0 25px 25px;
}

.price {
    margin: 0 0 25px 25px;
}

.currency {
    margin-left: 25px;
}



